gym==0.23.1        # MineRL patched wheel と揃える
numpy==1.24.4
torch==2.2.2
cleanrl==0.4.8
networkx<3
coloredlogs==15.0.1
daemoniker==0.2.3
tqdm==4.66.4
rarfile==4.1
lz4==4.3.3
imageio-ffmpeg==0.4.9
lxml==5.2.1
Pyro4==4.82
xmltodict==0.12.0
opencv-python-headless==4.9.0.80
# stable-baselines3 ⇒ MineRL と競合するので今回は外す
bullet==2.0.0
dill==0.3.8
getch==1.0
inflection==0.5.1
ipython==8.24.0
simple-term-menu==1.6.1
pytest==8.2.1
